<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" media="all">
    <link href="/stylesheets/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Mailprobe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/inbox">Inbox <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit"><span class="oi oi-magnifying-glass" title="icon name" aria-hidden="true"></span></button>
    </form>
  </div>
</nav>

{{{ body }}}
</body>

<script type="text/javascript">
  $('#myModal').on('show.bs.modal', function (event) {
    let email_id = $(event.relatedTarget).data('email-id')
    //Set subject 
    let tr = $(event.relatedTarget);
    let subject = tr.find('.subject').text();
    console.log(subject);
    $(event.currentTarget).find('#modal-container #emailiframe').attr('src','/details/'+email_id);
    $(event.currentTarget).find('.modal-title').text(subject);
  })
</script>
</html>
